{% block inputs %}
{% include "django/forms/widgets/input.html" %}
{% endblock inputs %}
{% block controls %}
<p>
    {% include "dear_widgets/button.html" with name=output_id role='Start' button=buttons.start only %}
    {% include "dear_widgets/button.html" with name=output_id role='Stop' button=buttons.stop only %}
</p>
<p><audio id="{{ output_id }}-audio" controls></audio></p>
{% if file_link is not None %}
<div>
    <a href='#' id="{{ output_id }}-link"{% include "django/forms/widgets/attrs.html" with widget=file_link only %}></a>
</div>
{% endif %}
{% endblock controls %}
